Repository kedro-org/kedro-viz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @richardwestenra, @limdauto, @DmitriiDeriabinQB, @921kiyo, @yetudada

.github/CODEOWNERS:

*                                       @richardwestenra

src/                                    @richardwestenra
public/                                 @richardwestenra
tools/                                  @limdauto
package/                                @limdauto

Makefile                                @richardwestenra @DmitriiDeriabinQB
.circleci/                              @richardwestenra @DmitriiDeriabinQB

*.js                                    @richardwestenra
*.json                                  @richardwestenra
*.scss                                  @richardwestenra
*.py                                    @DmitriiDeriabinQB @921kiyo
*.md                                    @richardwestenra @yetudada

.babelrc                                @richardwestenra
.eslintrc.json                          @richardwestenra
.prettierrc                             @richardwestenra
.gitignore                              @richardwestenra
CODEOWNERS                              @richardwestenra @yetudada
CONTRIBUTING.md                         @richardwestenra @yetudada
README.md                               @richardwestenra @yetudada
RELEASE.md                              @richardwestenra @yetudada
legal_header.txt                        @richardwestenra @yetudada
LICENSE.md                              @richardwestenra @yetudada

Check None on loading params
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Factor into a function
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Lint
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Support launching a development server against a real pipeline
  CONTRIBUTING.md
  package.json
  package/kedro_viz/server.py
Owners: @richardwestenra, @yetudada, @DmitriiDeriabinQB, @921kiyo

Lint
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

No need to cover main script
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Adding pragma: no cover
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

added in bright indicator when checked and hovered
  src/components/node-list/styles/_filter.scss
Owners: @richardwestenra

Apply suggestions from code review
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Python3
  package.json
Owners: @richardwestenra

Refactor fixture usage into constant
  package/kedro_viz/server.py
  package/tests/test_server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Revert "Python3"
  package.json
Owners: @richardwestenra

[KED-2165] Remove get_project_context() (#324)
  package/kedro_viz/server.py
  package/requirements.txt
  package/tests/test_server.py
Owners: @DmitriiDeriabinQB, @921kiyo, @limdauto

[KED-2314] Support launching a development server against a real pipeline (#327)
  CONTRIBUTING.md
  package.json
  package/kedro_viz/server.py
Owners: @richardwestenra, @yetudada, @DmitriiDeriabinQB, @921kiyo

[KED-2319] Check None on loading params (#326)
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

[KED-1923] Update version for lazy flag in readme
  README.md
Owners: @richardwestenra, @yetudada

[KED-2166] Fix parameters on metadata panel
  src/components/metadata/index.js
  src/selectors/metadata.js
Owners: @richardwestenra

further fixed problem with 'minus' icon for tags and added comments
  src/components/node-list/styles/_filter.scss
  src/components/node-list/styles/_row.scss
Owners: @richardwestenra

Add default fallback response for non-main API calls
  src/store/load-data.js
Owners: @richardwestenra

Add default fallback response for non-main API calls (#328)
  src/store/load-data.js
Owners: @richardwestenra

moved toggle-icon class to _row.scss
  src/components/node-list/styles/_filter.scss
  src/components/node-list/styles/_row.scss
Owners: @richardwestenra

[KED-2166] Fix run command on metadata panel
  src/components/metadata/metadata-row.js
  src/selectors/metadata.js
Owners: @richardwestenra

[KED-2166] Further tests on metadata panel
  src/components/metadata/metadata.test.js
Owners: @richardwestenra

[KED-1923] Fix LazyList tests for CI
  src/components/lazy-list/lazy-list.test.js
Owners: @richardwestenra

[KED-1923] Fix app tests
  tools/test-lib/react-app/app.test.js
Owners: @richardwestenra

Add params to viz backend
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

[KED-2166] Added optional length limit to MetaDataList
  src/components/metadata/metadata-list.js
  src/components/metadata/metadata-row.js
  src/components/metadata/styles/metadata.scss
Owners: @richardwestenra

[KED-2166] Set length limit for parameters field on MetaData panel
  src/components/metadata/index.js
Owners: @richardwestenra

changed classname from `cursor` to `not-tag` as per PR comments
  src/components/node-list/node-list-row.js
  src/components/node-list/styles/_row.scss
Owners: @richardwestenra

updated readme and config
  README.md
  src/config.js
Owners: @richardwestenra, @yetudada

[KED-2166] Add expand functionality for MetaDataList when limited
  src/components/metadata/metadata-list.js
  src/components/metadata/metadata.test.js
  src/components/metadata/styles/metadata.scss
Owners: @richardwestenra

[KED-2166] Add additional fields to meta data panel (#295)
  src/components/metadata/index.js
  src/components/metadata/metadata-list.js
  src/components/metadata/metadata-row.js
  src/components/metadata/metadata-value.js
  src/components/metadata/metadata.test.js
  src/components/metadata/styles/metadata.scss
  src/selectors/metadata.js
Owners: @richardwestenra

rename `newgraph` to `oldgraph` and update code logic, tests and readme
  README.md
  src/actions/graph.js
  src/actions/graph.test.js
  src/selectors/layout.js
  src/selectors/layout.test.js
  src/selectors/metadata.js
  src/store/initial-state.test.js
  src/utils/graph/index.js
  src/utils/state.mock.js
Owners: @richardwestenra, @yetudada

[KED-2166] Remove meta flag
  README.md
  src/actions/nodes.js
  src/actions/nodes.test.js
  src/config.js
  src/selectors/metadata.js
Owners: @richardwestenra, @yetudada

update config and readme
  README.md
  src/config.js
Owners: @richardwestenra, @yetudada

[KED-2166] Remove meta flag (#333)
  README.md
  src/actions/nodes.js
  src/actions/nodes.test.js
  src/config.js
  src/selectors/metadata.js
Owners: @richardwestenra, @yetudada

[KED-1923] Add comments to LazyList about behaviour when not supported
  src/components/lazy-list/index.js
Owners: @richardwestenra

[KED-1923] Move changed utility to shared module
  src/components/node-list/node-list-row.js
  src/utils/changed.js
  src/utils/index.js
Owners: @richardwestenra

[KED-1923] Add LazyList component using IntersectionObserver on sidebar (#307)
  README.md
  src/components/lazy-list/index.js
  src/components/lazy-list/lazy-list.test.js
  src/components/node-list/node-list-group.js
  src/components/node-list/node-list-group.test.js
  src/components/node-list/node-list-groups.js
  src/components/node-list/node-list-row-list.js
  src/components/node-list/node-list-row.js
  src/components/node-list/styles/_group.scss
  src/components/node-list/styles/_row.scss
  src/config.js
  src/selectors/linked-nodes.js
  src/utils/index.js
  tools/test-lib/react-app/app.test.js
Owners: @richardwestenra, @yetudada

added condition to brighten toggle all filter button when unchecked
  src/components/node-list/styles/_filter.scss
Owners: @richardwestenra
