Repository kedro-org/kedro-viz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @richardwestenra, @limdauto, @DmitriiDeriabinQB, @921kiyo, @yetudada

update test names and config description
  src/actions/graph.test.js
  src/config.js
Owners: @richardwestenra

Override kedro-ui drop shadow
  src/components/pipeline-list/pipeline-list.scss
Owners: @richardwestenra

Add test for pipeline disabled state
  src/components/pipeline-list/pipeline-list.test.js
Owners: @richardwestenra

Remove unused argument
  src/utils/state.mock.js
Owners: @richardwestenra

Split test into two, to be more explicit
  src/components/pipeline-list/pipeline-list.test.js
Owners: @richardwestenra

Remove unnecessary props
  src/components/pipeline-list/pipeline-list.test.js
Owners: @richardwestenra

Update Kedro-UI to v1.1.4 & implement relevant changes (#325)
  package-lock.json
  package.json
  src/actions/check-font-loaded.js
  src/actions/check-font-loaded.test.js
  src/components/app/index.js
  src/components/pipeline-list/index.js
  src/components/pipeline-list/pipeline-list.scss
  src/components/pipeline-list/pipeline-list.test.js
  src/utils/state.mock.js
Owners: @richardwestenra

update readme as per PR suggestion
  README.md
Owners: @richardwestenra, @yetudada

[KED-2182]Replace newgraph feature flag with a new 'oldgraph' flag (#334)
  README.md
  src/actions/graph.js
  src/actions/graph.test.js
  src/config.js
  src/selectors/layout.js
  src/selectors/layout.test.js
  src/selectors/metadata.js
  src/store/initial-state.test.js
  src/utils/graph/index.js
  src/utils/state.mock.js
Owners: @richardwestenra, @yetudada

Change tag icon hover state styling (#316)
  src/components/node-list/node-list-row.js
  src/components/node-list/styles/_filter.scss
  src/components/node-list/styles/_row.scss
Owners: @richardwestenra

Disbale too-many-branches check
  package/kedro_viz/server.py
Owners: @DmitriiDeriabinQB, @921kiyo

Fix tests
  package/tests/test_server.py
Owners: @DmitriiDeriabinQB, @921kiyo

.github/CODEOWNERS:

*                                       @richardwestenra

src/                                    @richardwestenra
public/                                 @richardwestenra
tools/                                  @limdauto
package/                                @limdauto

Makefile                                @richardwestenra @DmitriiDeriabinQB
.circleci/                              @richardwestenra @DmitriiDeriabinQB

*.js                                    @richardwestenra
*.json                                  @richardwestenra
*.scss                                  @richardwestenra
*.py                                    @DmitriiDeriabinQB @921kiyo
*.md                                    @richardwestenra @yetudada

.babelrc                                @richardwestenra
.eslintrc.json                          @richardwestenra
.prettierrc                             @richardwestenra
.gitignore                              @richardwestenra
CODEOWNERS                              @richardwestenra @yetudada
CONTRIBUTING.md                         @richardwestenra @yetudada
README.md                               @richardwestenra @yetudada
RELEASE.md                              @richardwestenra @yetudada
legal_header.txt                        @richardwestenra @yetudada
LICENSE.md                              @richardwestenra @yetudada
