Repository kedro-org/kedro-viz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rashidakanchwala, @jitu5, @ravi-kumar-pilla

.github/CODEOWNERS:

*                                       @rashidakanchwala

src/                                    @rashidakanchwala
public/                                 @rashidakanchwala
tools/                                  @rashidakanchwala
package/                                @rashidakanchwala

Makefile                                @rashidakanchwala
.circleci/                              @rashidakanchwala

*.js                                    @rashidakanchwala @jitu5
*.json                                  @rashidakanchwala @jitu5
*.scss                                  @rashidakanchwala @jitu5
*.py                                    @rashidakanchwala @ravi-kumar-pilla
*.md                                    @rashidakanchwala

.babelrc                                @rashidakanchwala
.eslintrc.json                          @rashidakanchwala
.prettierrc                             @rashidakanchwala
.gitignore                              @rashidakanchwala
CODEOWNERS                              @rashidakanchwala
CONTRIBUTING.md                         @rashidakanchwala
README.md                               @rashidakanchwala
RELEASE.md                              @rashidakanchwala
legal_header.txt                        @rashidakanchwala
LICENSE.md                              @rashidakanchwala

metadata with parameter editor template
  src/components/metadata/metadata.js
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Owners: @rashidakanchwala, @jitu5

attach parameters to editor
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Owners: @rashidakanchwala, @jitu5

fix yaml string formating
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Owners: @rashidakanchwala, @jitu5

unified variable to store edit parameters
  src/components/runner/runner-manager.js
Owners: @rashidakanchwala, @jitu5

remove the layer dependency
  package/kedro_viz/services/layers.py
  package/tests/test_services/test_layers.py
Owners: @rashidakanchwala, @ravi-kumar-pilla

visual improvement and monitoring of editted parameters
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Owners: @rashidakanchwala, @jitu5

include N999 in ruff.toml
  ruff.toml
Owners: @rashidakanchwala

ruff format
  demo-project/tests/test_run.py
Owners: @rashidakanchwala, @ravi-kumar-pilla

fix telemetry 0.6.4 build issue
  package/kedro_viz/integrations/kedro/telemetry.py
Owners: @rashidakanchwala, @ravi-kumar-pilla

lint fix
  demo-project/__init__.py
  demo-project/tests/test_run.py
  package/kedro_viz/integrations/kedro/telemetry.py
Owners: @rashidakanchwala, @ravi-kumar-pilla

Fix CI build issue due to kedro-telemetry 0.6.4 release (#2470)
  demo-project/__init__.py
  demo-project/tests/test_run.py
  package/kedro_viz/integrations/kedro/telemetry.py
Owners: @rashidakanchwala, @ravi-kumar-pilla

resturcture control panel to show parameter changes
  src/components/runner/runner-manager.js
  src/components/runner/runner-manager.scss
Owners: @rashidakanchwala, @jitu5

fix the reset button
  src/components/runner/runner-manager.js
Owners: @rashidakanchwala, @jitu5

persist parameter changes across pages
  src/components/runner/runner-manager.js
Owners: @rashidakanchwala, @jitu5

Resturcture runner component
  src/components/runner/__tests__/control-panel.test.js
  src/components/runner/control-panel.js
  src/components/runner/control-panel/control-panel.js
  src/components/runner/control-panel/index.js
  src/components/runner/jobs-list.js
  src/components/runner/jobs-panel/index.js
  src/components/runner/jobs-panel/jobs-list.impl.js
  src/components/runner/jobs-panel/jobs-list.js
  src/components/runner/runner-manager.js
  src/components/runner/watch-list.js
  src/components/runner/watch-panel/index.js
  src/components/runner/watch-panel/watch-list.impl.js
  src/components/runner/watch-panel/watch-list.js
Owners: @rashidakanchwala, @jitu5

fix corupted file
  src/components/runner/control-panel/control-panel.js
  src/components/runner/runner-manager.js
Owners: @rashidakanchwala, @jitu5

chnage copy to text
  src/components/runner/control-panel/control-panel.js
Owners: @rashidakanchwala, @jitu5

log the CycleError exception and layer_dependencies (#2467)
  RELEASE.md
  package/kedro_viz/services/layers.py
  package/tests/test_services/test_layers.py
  ruff.toml
Owners: @rashidakanchwala, @ravi-kumar-pilla

include date for last update
  mkdocs.yml
Owners: @rashidakanchwala

Add llm.txt with mkdocs (#2466)
  RELEASE.md
  mkdocs.yml
  package/pyproject.toml
Owners: @rashidakanchwala
